<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" swipeGesture="false">
      <ion-content>
        
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-grid>
              
              <ion-row class="ion-justify-content-center">
                <ion-col size="10">
                  <ion-row class="ion-justify-content-center ion-align-items-center">
                    <ion-col size="4">
                      <img class="ion-image-fluid" src="../assets/bola.png" alt="">
                    </ion-col>
                    <ion-col size="8">
                      <h1 class="ion-no-margin">Prescrição Eletrônica</h1>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
              
            </ion-grid>
          </ion-list-header>
          <ion-note></ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="logout()" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="'exit-outline'" [md]="'exit-sharp'"></ion-icon>
              <ion-label>Sair</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<app-folder></app-folder>
